/* || General Setup */

@font-face {
    src:
    url("..school-site/fonts/josefinslab-regular.ttf"), format("TrueType");
    font-style:normal;
    font-weight:400 normal;
    font-family:JoseFinSlab;
}

@font-face {
    src:
    url("..school-site/fonts/montserrat-regular.ttf"), format("TrueType");
    font-style:normal;
    font-weight:400 normal;
    font-family:Montserrat;
    
}

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #ffffffe8;
}

body {
    max-width: 1400px;
    margin:0 auto;
    padding:1rem 2rem;    
    color:#111;
    font-family: 'Roboto Condensed', sans-serif;
    float: left;
} 

header {
    border-bottom: .0625rem solid #000;
    width: 100%;
    margin-bottom:4rem;
    padding-bottom:2rem;
  
}
 
h1 {
    font-size: 6rem;
    font-weight:100;
    color: #000;
    font-family:'JoseFinSlab', serif;
    text-shadow:1px 1px 1.5px #29292900;      
    margin:0;
    text-align: center;
}

h1 span {
    color:#01000c;
}

h2 {
    
    font-size:2rem;
    margin-top:0;
    font-weight:100;
    font-family: 'Monsterrat', sans-serif;
    
}

p, li {
  font-size: 1rem;
  line-height: 1.5;
}

blockquote {
    
    border-top:.0625rem solid #000;
    border-bottom:.0625rem solid #000;
    margin:2rem 0;
    padding:2rem 4rem;
    text-align:center;
    font-style:italic;
}

nav {
      float:left;
      display: flex;
      flex-wrap:wrap;
      flex-direction: column;
      max-width: 14rem;
      max-height: 34rem;
      border:.0625rem solid #000;
      background-color:#bdcbe9;
      position:static;
}

nav img {
    width:100%;
    border-bottom:.0625rem solid #000;
}

nav p {
    margin:0;
    padding:1rem;
    font-size:.75rem;
    background-color:#242F40;
    color:#bdcbe9;
    border-top:.0625rem solid #000;
}

nav p a {
    
    color:#bdcbe9;
}

nav p a:hover,
figcaption a:hover {
    color:#242F40;
    text-decoration:none;
}

nav ul {
    border-bottom:.0625rem solid #000;
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul a {
    display: block;
    font-size: 1.5rem;
    line-height: 1.7;
    padding:.75rem 1.25rem;
    text-decoration: none;
    color: #000;
    font-family: 'Monsterrat', sans-serif;
}

nav :nth-child(2) {
    margin-top:0;
}

nav a:hover {
  color:#FFF;
    background-color:#bdcbe9;
    text-transform: uppercase;
}

nav a:active {
    color:#FFF;
    font-style: italic;
    background-color:#bdcbe9;
}

/* || main layout */

main {
    padding-left:4rem;
    padding-right:4rem;
    margin-left:1rem;
    margin-right:1rem;
}

section {
    margin-bottom:.5%;
}

aside {
    float:left;
    display:flex;
    vertical-align: top;
    flex-wrap: wrap;
    flex-direction: column;
    width: 14rem;
}

figure {
    
    background-color:#242F40;
}

.box {
    display:flex;
    flex-direction: row;
    width:fit-content;
}

/* || Media */

.fig-1 {
    
    width:300%;
    margin-left:0;
    margin-right:0%;
}

.fig-2 {
    
    width:300%;
    margin-right:0;
    margin-left:0%;
}

figure img {
  width: 100%;
  margin:0;   
}

figcaption {
    font-size:.75rem;
    padding:.5rem;
    margin:0;
    background-color:#242F40;
    color:#B1BED3;
}

figcaption a {
    
    font-size:.75rem;
    color:#B1BED3;
}

figure video,
figure iframe {
    border:none;
    background-color:#000;
}

/* || Written Content */

article {
  margin:0;
}

article>p {
  margin-top:0;
}

article>p>a {
    
    color:darkblue;
}

/* || Footer Layout */

footer {
    width:100%;
    text-align:center;
    clear:both;
    overflow:auto;
    margin:3% 2%;
    border-top: 1px solid #000;
}

.copyright {
    font-size:1rem;
    text-align:right;
}

footer a {
    font-size:1rem;
    color:darkblue;
}

article p a:hover,
footer a:hover {
  text-decoration:none;
  color:#495F83;
}

.return {
    font-size:1rem;
    float:left;
}